<h1>History for</h1>
<h2>{{trip.type[0] | uppercase}}{{trip.type.substr(1)}} from {{trip.from}} to {{trip.to}}</h2>
<h3>Left on {{trip.depart.date}} at {{trip.depart.time}}</h3>

<div ng-show="mapUrl()">
  <hr>
  <h3>Open Google Maps</h3>
  <a class="btn btn-large btn-success" href="{{mapUrl()}}">Open</a>
</div>

<div ng-show="trip.match">
  <h3>Your friend: {{trip.match.name}}</h3>
  <img src="{{trip.match.picture}}" alt="bff">
</div>

<div>
  <h3>Your Rating: {{trip.status}}</h3>
</div>

<div ng-hide="trip.route">
  <p>You were not matched for this trip</p>
  <directions-map class="span12"
    trip-start="trip.from"
    trip-end="trip.to"></directions-map>

  <hr>
</div>
