<div class="row-fluid">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="from">From: <a ng-click="geo()">+</a></label>
      <div class="controls">
        <input class="input-xxlarge" id="from" type="text" search-map ng-model="trip.from" placeholder="Start Location" autocomplete="off">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="to">To:</label>
      <div class="controls">
        <input class="input-xxlarge" id="to" type="text" search-map ng-model="trip.to" placeholder="End Location" autocomplete="off">
      </div>
    </div>
  </form>
</div>

<div class="row-fluid">
  <directions-map class="span12" trip-start="trip.from" trip-end="trip.to"></directions-map>
</div>

<div class="row-fluid">
  <hr>
  <div class="span12">
    <button class="btn btn-large btn-success" ng-click="submit()">Submit</button>
    <a class="btn btn-large btn-danger" href="./">Back</a>
  </div>
</div>
