<div class="row-fluid">
  <h1>Upcoming Trips</h1>
</div>

<div class="row-fluid" ng-show="trips.length > 0">
  <div class="span6">
    <h3>Driving</h3>
    <p ng-repeat="trip in trips|filter:{type: 'drive'}">
      <a ng-href="trips/{{trip.id}}">{{trip.from}} -> {{trip.to}}</a>
    </p>
  </div>

  <div class="span6">
    <h3>Riding</h3>
    <p ng-repeat="trip in trips|filter:{type: 'ride'}">
      <a ng-href="trips/{{trip.id}}">{{trip.from}} -> {{trip.to}}</a>
    </p>
  </div>
</div>

<div class="row-fluid" ng-show="trips.length == 0">
  <p>You don't have any upcoming trips.</p>
  <a class="btn btn-large btn-info" href="./">Start a new Trip</a>
</div>

<hr>

<div class="row-fluid">
  <h2>Trip History</h2>
</div>

<div class="row-fluid" ng-show="history.length == 0">
  <p>You haven't completed any trips yet.</p>
</div>
