<h2>{{trip.type[0] | uppercase}}{{trip.type.substr(1)}} from {{trip.from}} to {{trip.to}}</h2>

<div ng-show="trip.match">
  <h3>Meet {{trip.match.name}}</h3>
  <img src="{{trip.match.picture}}" alt="bff">
</div>

<div ng-show="mapUrl()">
  <hr>
  <h3>Open Google Maps</h3>
  <a class="btn btn-large btn-success" href="{{mapUrl()}}">Open</a>
</div>

<div ng-show="trip.route">
  <hr>
  <h3>Directions</h3>

  <directions-map class="span12"
    trip-start="trip.route.legs[0].start_address"
    trip-end="trip.route.legs[2].end_address"
    trip-waypoints="waypoints"></directions-map>

  <div ng-repeat="leg in trip.route.legs">
    <h4>{{leg.start_address}} to {{leg.end_address}}</h4>
    <div ng-repeat="step in leg.steps">
      <p ng-bind-html-unsafe="step.html_instructions"></p>
    </div>
  </div>
</div>

<div ng-hide="trip.route">
  <p>No match for this trip yet!</p>
  <directions-map class="span12"
    trip-start="trip.from"
    trip-end="trip.to"></directions-map>

  <hr>
</div>

<hr>

<div>
  <a href class="btn btn-large btn-warning" ng-click="cancel(trip.id)">Cancel This Trip</a>
  <p ng-show="trip.route">Warning: canceling this trip after you've been matched will lower your reputation.</p>
</div>

<hr>

<div ng-show="trip.status == 'matched'">
  <h2>Feedback</h2>
  <p>When the trip's done, let us know how the {{trip.type}}r was!</p>
  <a href class="btn btn-large btn-danger" ng-click="finish('success')">Perfect</a>
  <a href class="btn btn-large btn-warning" ng-click="finish('late')">Late</a>
  <a href class="btn btn-large btn-primary" ng-click="finish('noshow')">Didn't Show :(</a>
</div>
