<h2>{{trip.type[0] | uppercase}}{{trip.type.substr(1)}} from {{trip.from}} to {{trip.to}}</h2>

<div ng-show="mapUrl()">
  <hr>
  <h3>Open Google Maps</h3>
  <a class="btn btn-large btn-success" href="{{mapUrl()}}">Open</a>
</div>

<div ng-show="trip.route">
  <hr>
  <h3>Directions</h3>

  <directions-map class="span12"
    trip-start="trip.route.legs[0].start_address"
    trip-end="trip.route.legs[2].end_address"
    trip-waypoints="waypoints"></directions-map>

  <div ng-repeat="leg in trip.route.legs">
    <h4>{{leg.start_address}} to {{leg.end_address}}</h4>
    <div ng-repeat="step in leg.steps">
      <p ng-bind-html-unsafe="step.html_instructions"></p>
    </div>
  </div>
</div>

<div ng-hide="trip.route">
  <directions-map class="span12"
    trip-start="trip.from"
    trip-end="trip.to"></directions-map>

  <hr>
  <p>No match yet!</p>
</div>
